<nav class="navbar navbar-expand-lg navbar-light bg-success custom-navbar-height">

  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <img src="assets/images/shop.jpeg" alt="ShopAll" class="me-2" style="height: 130px;">
          <h1 class="navbar-brand">ShopAll</h1>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="btn btn-light text-dark me-2" routerLink="/">Home</a>
           

        </li>
                <li class="nav-item">
                        <a class="btn btn-light text-dark me-2" routerLink="/products">List Products</a>       
                </li>
               
                <li class="nav-item">
                  <a class="btn btn-light text-dark me-2" routerLink="/categories">Categories</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-light text-dark me-2" routerLink="/scategories">SCategories</a>
               

            </li>
            <li class="nav-item">
              <a class="btn btn-light text-dark me-2" routerLink="/ecommerce">E-commerce Space</a>
          </li>
         
        </ul>
  
       <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->

        <!--logout-->
        
       
        <!--Register-->
        
        <a href="http://localhost:4200/register" class="p-2 text-dark">
            <img src="assets/images/register.jpeg" alt="Register" class="me-2" style="height: 40px;">
          
        </a>
        <!--login-->
        <a href="http://localhost:4200/login" class="p-2 text-dark">
            <img src="assets/images/login.jpeg" alt="Login" class="me-2" style="height: 40px;">
           
        </a>
        <button (click)="logout()" *ngIf="this.authService.getisLoggedIn" type="button" class="btn btn-default">
          <img src="assets/images/logout.jpeg" alt="Logout" class="me-2" style="height: 40px;">
      </button>
        
      </div>
    </div>
  </nav>
  <!--End Navbar -->
   <!-- debut header  -->
    <!-- eviter l'affichage des video dans tous ls pages   -->
    <header class="d-flex align-items-center justify-content-between" *ngIf="!isRegisterOrLoginOrProductsOrEcommerceRoute()">
      
      <video width="600" height="420" controls>
          <source src="assets/images/ecommerce.mp4" type="video/mp4">
      </video>
      <div>
        <h1>About Our Website</h1>
        <p>Our online shopping site provides a convenient 
          and diverse shopping experience, allowing customers to browse a wide range of products, from clothing and accessories to electronics and beauty products, all from the comfort of their home. With secure payment options and fast delivery, we strive to make the online shopping experience as pleasant as possible for our customers. Whether you're looking for everyday items or special gifts, our e-commerce platform is here to meet your needs, 24 hours a day, 7 days a week.</p>
    </div>
  </header>
  


  
  <div class="container mt-5">
      <div class="mt-5">
          <router-outlet></router-outlet>
      </div>
  </div>
    <!-- End header  -->
      <!-- debut Footer  -->
  <footer class="bg-dark text-light text-center p-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5 style="color: red;">ShopAll</h5>
          <p> shopping It involves browsing, selecting, and purchasing goods, often in retail stores or online.</p>
        </div>
        <div class="col-md-4">
          <h5>Liens rapides</h5>
          <ul class="list-unstyled">
            <li ><a href="/ecommerce" style="color: green;">Home</a></li>
            <li><a href="/products"  style="color: green;">Product</a></li>
            <li><a href="#"  style="color: green;">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5 >Contact us</h5>
          <address>
            123 Boutique Street<br>
            Tunis, Sfax<br>
            <a href="tel:+1234567890"  style="color: green;">123-456-7890</a><br>
            <a href="mailto:info@shopall.com"  style="color: green;">info@shopall.com</a>
          </address>
        </div>
      </div>
      <hr>
      <p class="small">&copy; 2023 ShopAll. All rights reserved.</p>
    </div>
  </footer>
 <!-- End Footer  -->